Repository microsoft/cpp_client_telemetry, pull requests merged in 2021-03, with the labels that each got.

#796 Fix Clang -Wformat warning on 64 bit Droid
  tests/functests/EventDecoderListener.cpp
Labels: Android, OTEL

#798 Capturing ConnectivityManager exceptions in Android
  lib/android_build/maesdk/src/main/java/com/microsoft/applications/events/HttpClient.java
Labels: Android

#811 GitHub Action runner started hanging forever
  .github/workflows/build-windows-clang.yaml.off
  .github/workflows/build-windows-vs2019.yaml
  build-all-v142.bat
  tools/setup-buildtools.cmd
Labels: build infra

#809 Targeted fix to enable the arm64 static library build
  Solutions/MSTelemetrySDK.sln
  build-win.ps1
Labels: build infra
